@media (max-width :1024px) {
    .container{
        max-width: calc(100% - 10%);
    }
    nav{
        position: relative;
        background: white;
        padding:12px;
    }
    .header-img{
        position:relative;
        overflow: hidden;
        display: flex;
        justify-content: end;
        object-fit:none;
    }
    .navbar-item{
        display: none;
    }
    .navbar{
        display:block;
    }
}
/* laptop :992px up */
@media (max-width :992px) {
}




/* tablets :768px up */
@media (max-width :768x) {
    nav{
     display: none;
    }

}
/* large phone  :600px up */
@media (max-width :576px) {

}







/* phone 320px down */
@media (max-width :350px) {
    
}