@media (max-width :1200px) {
    .container {
        max-width: calc(100% - 12%);
    }
    .title-1 {
        font-size: 35px;
    }
    .title-2 {
        font-size: 50px;
    }
    .at-home {
        font-size: 18px;
    }
    .customers-rate {
        margin-left: 20px;
    }
    /* section-1 */
    .graphic-img img {
        width: 750px;
    }
    /* section-2 */
    .vibry-item {
        max-width: 210px;
    }
    .vibry-item img {
        max-width: 209px;
    }
    /* section-3 */
    .discover-benefits {
        gap: 10px;
    }
    .discover-item {
        width: 160px;
        height: 180px;
        padding: 20px;
    }
    .discover-item h3 {
        font-size: 16px;
    }
    .mask-img img {
        width: 370px;
        height: 370px;
    }
}

/* laptop :992px up */
@media (max-width :992px) {
    .container {
        max-width: calc(100%-7%);
    }
    .header-text {
        margin-left: 0;
    }
    .title-1 {
        font-size: 30px;
    }
    .title-2 {
        font-size: 42px;
    }
    .at-home {
        font-size: 15px;
    }
    .shop-now button {
        width: 380px;
    }
    .customers-rate {
        margin-left: 0;
    }
    .customers-rate p {
        font-size: 14px;
    }
    /* section-1 */
    .graphic-img img {
        width: 670px;
    }
    /* section-3 */
    .discover-item {
        width: 140px;
        height: 160px;
    }
    .discover-item h3 {
        font-size: 14px;
    }
    .mask-img img {
        width: 340px;
        height: 330px;
    }





  
    /* section-11 */
    .section-11-img img {
        max-width: 380px;
    }
}



/* tablets :768px up */
@media (max-width :767px) {
    .container {
        max-width: calc(100% - 10%);
    }
    .header-image img {
        max-width: calc(100% - 2%);
    }
    .title-1 {
        font-size: 25px;
        padding-top: 50px;
    }
    .title-2 {
        font-size: 35px;
    }
    .at-home {
        font-size: 12px;
    }
    .customers-rate p {
        font-size: 12px;

    }
    .shop-now button {
        max-width: 280px;
    }
    /* section-1 */
    .section-title-2 {
        font-size: 33px;
    }
    .graphic-img img {
        width: 100%;
        margin-bottom: 60px;
    }
    /* section-3 */
    .discover-item {
        width: 110px;
        height: 130px;
    }
    .discover-item img {
        height: 44px;
        width: 44px;
    }
    .discover-item div {
        margin-bottom: 10px;
    }
    .discover-item h3 {
        font-size: 12px;
    }
    .mask-img img {
        width: 290px;
        height: 280px;
    }
    .testmonials:nth-child(4) {
        display: none;
    }


     


    /* section-11 */
    .section-11-img img {
        max-width: 280px;
    }

}

/* large phone  :600px up */
@media (max-width :576px) {
    .container {
        max-width: calc(100% - 20%);
    }
    .topbar {
        display: none;
    }
    /* <!-- NAVBAR  --> */
    .reserve-btn {
        font-size: 12px;
    }
    .reserve {
        padding: 10px 16px;
    }
    .logo img {
        width: 150px;
    }
    .header-part {
        display: block;
    }
    .header-text {
        width: 100%;
    }
    .title-1 {
        display: flex;
        justify-content: center;
        font-size: 20px;
        padding-top: 20px;
    }
    .title-2 {
        display: flex;
        justify-content: center;
    }
    .at-home {
        display: flex;
        justify-content: center;
    }
    .order {
        order: 1;
    }
    .header-image {
        order: 2;
    }
    .item {
        display: flex;
        justify-content: center;
    }
    .shop-now {
        display: flex;
        justify-content: center;
    }
    .customers-rate {
        justify-content: center;
    }
    /* section-1 */
    .section-title-2 {
        text-align: center;
    }
    .section-1 {
        padding-top: 0;
    }
    /* section-2 */
    .section-2 {
        margin-bottom: 50px;
    }
    .Shipping span {
        margin-right: 5px;
        font-size: 12px;
    }
    /* section-3 */
    .section-3 {
        padding-top: 30px;
        margin-bottom: 80px;
    }
    .Reduce {
        display: block;
    }
    .mask-img {
        order: 1;
        position: relative;
    }
    .discover-benefits {
        order: 2;
        gap: 20px;
        position: relative;
        margin-bottom: 30px;
    }
    .mask-img {
        display: flex;
        justify-content: center;
    }
    .discover-item {
        width: 140px;
        height: 140px;
        padding: 25px;
    }
    .discover-item div {
        margin-bottom: 10px;
    }
    .discover-item h3 {
        font-size: 16px;
    }
    .mask-img img {
        width: 300px;
        height: 300px;
    }
    /* section-4 */
    .section-4{
        margin-bottom: 80px;
    }
    /* section-5 */
    .section-5{
        margin-bottom: 80px;
     }



     .section-6{
        margin-bottom: 80px;
     }





    /* section-9 */
    .section-9-container {
        margin-bottom: 80px;
    }
    .shopping{
        width: 100%;
        justify-content: center
    }
    .shop-icon{
        display: block;
        margin-right: 20px;
    }
    /* sectiion-10 */
    .section-10{
        margin-bottom: 80px;
    }
    .Questions-item {
        padding: 15px;
    }
    .Questions-item p{
        font-size: 12px;
    }
    /* Footer */
    .footer-part div h1 {
        font-size: 35px;
        display: flex;
        justify-content: center;
    }
    .footer-device {
        font-size: 13px;
        display: flex;
        justify-content: center;
    }
    .Copyright {
        font-size: 14px;
        margin: 0 25px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

}

/* phone 320px down */
@media (max-width :320px) {
    .container {
        max-width: calc(100% - 5%);
    }
    .reserve-btn {
        padding: 14px 12px;
    }
    .shop-now button {
        max-width: 100%;
    }
    .cheack {
        width: 150px;
    }
    /* section-1 */
    .graphic-img img {
        height: 160px;
    }
    /* section-3 */
    .discover-item {
        width: 140px;
        height: 140px;
    }
    .discover-item h3 {
        font-size: 12px;
    }



    /* section-9 */
    .section-9-container div{
        max-width: 300px;
    }
    .Comparision {
        justify-content: space-evenly;
    }
    .Comparision-item{
        justify-content: space-evenly;
    }

     /* section-11 */
     .section-11-img img {
        max-width: 100%;
    }
}